<div class="card">
    <div class="card-body">
        <a href="{{link}}">{{title}}</a>
        <p>{{summary}}</p>
        <input id="comment-body">
        <button id="comment"></button>
    </div>
</div>